#map-sp {
    width: 100%;
    height:100%;
    /*border-radius: 5px;*/
    z-index: 1
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align:left;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info-opaque {
    background: rgba(255, 255, 255, 1);
}

.shift-info {
    position: fixed;
    right: 0;
    bottom: 185px;
    /*margin: 10px 0 0 0;*/
    width:220px;
    height: 115px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 200px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}

.leaflet-popup-content {
    width: auto !important;
}

#ColorScaleControl {
    position: absolute;
    bottom: 50px;
    right: 30px;
    z-index: 5; /* Stay on top */
    width:220px;
}

#SidebarToggle {
    position: absolute;
    bottom: 50px;
    left: 5px;
    z-index: 50;
}